.card {
  width: 100%;
  max-width: 325px;
  min-width: 0;

  border-radius: 10px;
  overflow: hidden;

  -webkit-box-shadow: var(--card-shadow);

  box-shadow: var(--card-shadow);
}

.card__link {
  display: block;
  min-width: 0;
}

@media (width<=576px) {
  .card__link {
    background-color: var(--color-bg-primary);
  }
}

.card__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 11px;

  padding-block: 20px 30px;
  /* padding-inline: 40px; */

  -webkit-transition:
    color var(--transition-time),
    background-color var(--transition-time);

  transition:
    color var(--transition-time),
    background-color var(--transition-time);
}

@media (any-hover: hover) {
  .card__content:hover {
    background-color: var(--color-bg-dark);
    color: var(--color-bg-primary);
  }
}

@media (width<=992px) {
  .card__content {
    padding-block: 15px 25px;
    /* padding-inline: 20px; */

    gap: 5px;
  }
}

@media (width<=768px) {
  .card__content {
    padding-block: 10px 15px;
    /* padding-inline: 12px; */

    font-size: 15px;
  }
}

@media (width<=576px) {
  .card__content {
    padding-left: 10px;

    align-items: start;
  }
}

.card__title {
  color: currentColor;
  font-size: 30px;
}

@media (width<=1980px) {
  .card__title {
    /* min-width: 768px max-width: 1980px */
    font-size: clamp(14px, 0.446rem + 1.16vw, 30px);
  }
}

@media (width<=576px) {
  .card__title {
    font-size: 16px;
  }
}

.card__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  gap: 20px;

  min-width: 0;

  /* min-width: 576px max-width: 1400px */
  font-size: clamp(10px, 0.013rem + 1.7vw, 24px);
  color: currentColor;
}

@media (width<=992px) {
  .card__more {
    gap: 8px;
  }
}

@media (width<=576px) {
  .card__more {
    align-self: flex-start;
    font-size: 14px;
  }
}

.card__arrow-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  fill: currentColor;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (width<=992px) {
  .card__arrow-icon {
    width: 12px;
    height: 12px;
  }
}
