.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--layer-3);

  padding-block: 7px;

  background-color: var(--color-bg-dark);
  color: var(--color-bg-primary);

  -webkit-transition: var(--transition-time);

  transition: var(--transition-time);
}

.header--fixed {
  -webkit-box-shadow: var(--header-shadow);
  box-shadow: var(--header-shadow);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: space-between;
  align-items: center;
  /* min-width: 1685px max-width: 1980px */
  gap: clamp(20px, -8.201rem + 9.15vw, 50px);
}

@media (width<=1440px) {
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
  }
}

.header__container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: nowrap;
  /* min-width: 1685px max-width: 1980px */
  gap: clamp(20px, -8.201rem + 9.15vw, 50px);
}

@media (width<=1685px) {
  .header__container-wrapper {
    gap: 40px;
  }
}

@media (width<=992px) {
  .header__container-wrapper {
    gap: 32px;
  }
}

@media (width<=576px) {
  .header__container-wrapper {
    gap: 25;
  }
}

/* боковое меню */
@media (width<=1440px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: var(--layer-2);

    width: min(380px, 85vw);
    height: 100dvh;
    padding: 120px 30px 40px;

    color: #fff;
    background-color: #353535;

    visibility: hidden;
    opacity: 0;

    -webkit-transition:
      left var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);

    transition:
      left var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
  }

  .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 24px;
  }

  .header__menu--open {
    left: 0;
    visibility: visible;
    opacity: 1;
  }

  .burger:not(:disabled) {
    cursor: pointer;
  }
}

/* корзина */
.header__cart {
  margin-left: 10px;
}

@media (width<=1800px) {
  .header__cart {
    margin-left: 0;
  }
}

@media (width<=1440px) {
  .header__cart {
    margin-left: auto;
  }
}

.cart-link {
  width: 48px;
  height: 48px;

  color: var(--color-bg-primary);

  -webkit-transition: var(--transition-time);

  transition: var(--transition-time);
}

@media (width<=992px) {
  .cart-link {
    width: 31px;
    height: 31px;
  }
}

@media (width<=576px) {
  .cart-link {
    width: 24px;
    height: 24px;
  }
}

@media (any-hover: hover) {
  .cart-link:hover {
    color: var(--accent-color);
  }
}

.cart-link__icon {
  width: 100%;
  height: 100%;
  stroke: currentColor;
}
