.news {
  /* min-width: 768px max-width: 1980px  */
  padding-block: clamp(60px, 0.186rem + 7.43vw, 150px);
}

@media (width <= 768px) {
  .news {
    padding-block: 60px;
  }
}

@media (width <= 576px) {
  .news {
    padding-block: 45px;
  }
}

.news__title {
  /* min-width: 768px max-width: 1980px  */
  margin-bottom: clamp(30px, 0.291rem + 3.3vw, 70px);
}

.news__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media (width <= 576px) {
  .news__list {
    -ms-grid-columns: minmax(0, 1fr);

    grid-template-columns: minmax(0, 1fr);
    gap: 10px;
  }
}

.news__item {
  min-width: 0;
}

.news__item[hidden] {
  display: none;
}

@media (width <= 576px) {
  .news__item[data-mobile-hidden-news] {
    display: none;
  }

  .news--expanded.news__item[data-mobile-hidden-news] {
    display: block;
  }
}

.news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  height: 100%;
}

.news-card__image-link {
  display: block;
  overflow: hidden;

  /* min-width: 768px max-width: 1980px  */
  margin-bottom: clamp(12px, 0.037rem + 1.49vw, 30px);

  background-color: var(--color-bg-primary);
}

@media (width <= 576px) {
  .news-card__image-link {
    margin-bottom: 10px;
  }
}

.news-card__picture {
  display: block;
}

.news-card__image {
  display: block;

  width: 100%;
  aspect-ratio: 440 / 294;

  -o-object-fit: cover;

  object-fit: cover;

  -webkit-transition: -webkit-transform var(--transition-time);

  transition: -webkit-transform var(--transition-time);

  transition: transform var(--transition-time);

  transition:
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
}

@media (any-hover: hover) {
  .news-card__image-link:hover .news-card__image {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }
}

.news-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.news-card__date {
  display: block;

  margin-bottom: 20px;

  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #909090;
}

@media (width<992px) {
  .news-card__date {
    margin-bottom: 10px;

    font-size: 12px;
  }
}
@media (width <= 576px) {
  .news-card__date {
    margin-bottom: 6px;
  }
}

.news-card__title {
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

@media (width <= 992px) {
  .news-card__title {
    margin-bottom: 6px;

    font-size: 18px;
  }
}

@media (width <= 576px) {
  .news-card__title {
    font-size: 16px;
  }
}

.news-card__title-link {
  color: inherit;
  text-decoration: none;

  -webkit-transition: color var(--transition-time);

  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .news-card__title-link:hover {
    color: var(--accent-color);
  }
}

.news-card__description {
  margin-bottom: 20px;

  font-weight: 300;

  /* min-width: 768px max-width: 1980px  */
  font-size: clamp(14px, 0.512rem + 0.5vw, 18px);
  line-height: 120%;
  color: var(--color-text-description);
}

@media (width <= 768px) {
  .news-card__description {
    margin-bottom: 10px;
  }
}

@media (width <= 576px) {
  .news-card__description {
    margin-bottom: 6px;

    font-size: 16px;
    line-height: 140%;
  }
}

.news-card__more {
  /* min-width: 768px max-width: 1980px  */
  margin-bottom: clamp(42px, 1.12rem + 3.14vw, 80px);

  /* min-width: 768px max-width: 1980px  */
  font-size: clamp(14px, 0.512rem + 0.5vw, 18px);
  font-weight: 400;
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 4px;

  -webkit-transition: color var(--transition-time);

  transition: color var(--transition-time);
}

@media (width <= 576px) {
  .news-card__more {
    margin-bottom: 34px;
  }
}

@media (any-hover: hover) {
  .news-card__more:hover {
    color: inherit;
  }
}
