.review-card {
  grid-column: 1 / -1;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: subgrid;
  grid-template-columns: subgrid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;

  /* min-width: 768px max-width: 1980px  */
  padding-block: clamp(20px, 0.458rem + 1.65vw, 40px);

  border-bottom: 1px solid var(--color-old-price);
}

@media (width<578px) {
  .review-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 10px;
  }
  .review-card > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .review-card > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
.review-card[hidden] {
  display: none;
}

.review-card:first-of-type {
  border-top: 1px solid var(--color-old-price);
}

.review-card__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

@media (width<1200px) {
  .review-card__author {
    gap: 6px;
  }
}

.review-card__name {
  font-weight: 500;

  /* min-width: 768px max-width: 1980px  */
  font-size: clamp(14px, 0.637rem + 0.5vw, 20px);
  line-height: 150%;
}

.review-card__stars {
}

.review-card__content {
  min-width: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

@media (width<578px) {
  .review-card__content {
    grid-column: 1/-1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.review-card__title {
  margin-bottom: 10px;

  font-weight: 600;
  /* min-width: 768px max-width: 1980px  */
  font-size: clamp(14px, 0.637rem + 0.5vw, 20px);
  line-height: 150%;
}

@media (width<992px) {
  .product-card__text {
    margin-bottom: 6px;
  }
}

.review-card__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
}

@media (width<1200px) {
  .review-card__text {
    font-size: 16px;
  }
}

@media (width<992px) {
  .product-card__text {
    font-size: 12px;
  }
}

.review-card__text:last-child {
  margin-bottom: 8px;
}

@media (width<992px) {
  .review-card__text:last-child {
    margin-bottom: 3px;
  }
}

.review-card__photo-list {
  margin-top: 30px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  gap: 20px;
}

@media (width<1200px) {
  .review-card__photo-list {
    margin-bottom: 25px;
  }
}

@media (width<992px) {
  .product-card__photo-list {
    margin-bottom: 20px;
  }
}

.review-card__photo {
  /* min-width: 768px max-width: 1980px  */
  width: clamp(61px, 2.466rem + 2.81vw, 95px);
  height: auto;
}
.review-card__show-photos {
  margin-top: 10px;
  padding-bottom: 4px;

  font-weight: 400;
  /* min-width: 768px max-width: 1980px  */
  font-size: clamp(12px, 0.512rem + 0.5vw, 18px);

  color: var(--accent-color);

  border-bottom: 1px solid currentColor;

  -webkit-transition: -webkit-transform var(--transition-time);

  transition: -webkit-transform var(--transition-time);

  transition: transform var(--transition-time);

  transition:
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
}

.review-card__show-photos:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.review-card__date {
  -ms-grid-column-align: end;
  justify-self: end;

  text-align: right;

  font-weight: 300;
  /* min-width: 768px max-width: 1980px  */
  font-size: clamp(12px, 0.512rem + 0.5vw, 18px);
  line-height: 150%;

  color: #909090;
}

.review-card__photo-item[hidden] {
  display: none;
}
