.reviews {
  padding-block: 150px;
}
@media (width<1200px) {
  .reviews {
    padding-block: 120px;
  }
}

@media (width<992px) {
  .reviews__write-button {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}

@media (width<768px) {
  .reviews__write-button {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

@media (width<576px) {
  .reviews {
    padding-block: 46px;
  }
}

.reviews__title {
  margin-bottom: 60px;
}

@media (width<992px) {
  .reviews__title {
    margin-bottom: 20px;
  }
}

.reviews__count {
  color: var(--accent-color);
}

.reviews__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: clamp(160px, 7.228rem + 5.78vw, 230px) minmax(0, 1fr)
    /* min-width: 768px max-width: 1980px  */
    clamp(145px, 0.944rem + 16.91vw, 350px);
  grid-template-columns:
    clamp(160px, 7.228rem + 5.78vw, 230px)
    minmax(0, 1fr)
    /* min-width: 768px max-width: 1980px  */
    clamp(145px, 0.944rem + 16.91vw, 350px);
  -ms-grid-rows: (auto) [4];
  grid-template-rows: repeat(4, auto);

  -webkit-box-align: start;

  -ms-flex-align: start;

  align-items: start;
}

.reviews__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.reviews__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.reviews__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.reviews__grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.reviews__grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.reviews__grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.reviews__grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.reviews__grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.reviews__grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.reviews__grid > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.reviews__grid > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.reviews__grid > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

@media (width<768px) {
  .reviews__grid {
    -ms-grid-columns:
      /* min-width: 576px max-width: 768px   */ clamp(
        120px,
        20.83vw,
        160px
      )
      minmax(0, 1fr) /* min-width: 768px max-width: 1980px  */
      clamp(145px, 0.944rem + 16.91vw, 350px);
    grid-template-columns:
      /* min-width: 576px max-width: 768px   */
      clamp(120px, 20.83vw, 160px)
      minmax(0, 1fr)
      /* min-width: 768px max-width: 1980px  */
      clamp(145px, 0.944rem + 16.91vw, 350px);
  }
}

.reviews__total-rating {
  /* min-width: 768px max-width: 1980px  */
  margin-bottom: clamp(20px, 0.062rem + 2.48vw, 50px);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.reviews__rating-value--main {
  font-weight: 500;
  font-size: 30px;
}

.reviews__rating-value {
  font-weight: 400;
  font-size: 20px;
}

.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 3px;
}

@media (width<992px) {
  .reviews__stars {
    gap: 1px;
  }
}

.review-card__star-icon {
  width: 30px;
  height: 30px;
}

@media (width<1200px) {
  .review-card__star-icon {
    width: 20px;
    height: 20px;
  }
}

@media (width<992px) {
  .review-card__star-icon {
    width: 11px;
    height: 11px;
  }
}

@media (width<576px) {
  .review-card__star-icon {
    width: 15px;
    height: 15px;
  }
}
.reviews__total-rating,
.review-card__author {
  -ms-grid-column-align: start;
  justify-self: start;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.reviews__write-button {
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;

  /* min-width: 768px max-width: 1980px  */
  margin-bottom: clamp(20px, 0.062rem + 2.48vw, 50px);
  padding: 15px 41px;

  border: 1px solid var(--color-bg-dark);
  border-radius: 3px;

  font-weight: 400;
  font-size: 16px;

  -webkit-transition:
    color var(--transition-time),
    -webkit-transform var(--transition-time);

  transition:
    color var(--transition-time),
    -webkit-transform var(--transition-time);

  transition:
    transform var(--transition-time),
    color var(--transition-time);

  transition:
    transform var(--transition-time),
    color var(--transition-time),
    -webkit-transform var(--transition-time);
  border-color: var(--transition-time);
}

@media (any-hover: hover) {
  .reviews__write-button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.reviews__write-button:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@media (width<1200px) {
  .reviews__write-button {
    padding: 15px 41px;

    font-size: 20px;
  }
}

@media (width<992px) {
  .reviews__write-button {
    padding: 7px 37px;

    font-size: 16px;
  }
}

@media (width<768px) {
  .reviews__write-button {
    grid-column: 2 / -1;
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

@media (width<576px) {
  .reviews__write-button {
    padding: 10px 20px;

    font-size: 12px;
  }
}
