.advantages {
  padding-block: 150px;

  background-color: var(--color-bg-primary);
}

@media (width <= 992px) {
  .advantages {
    padding-block: 60px 70px;
  }
}

@media (width <= 575px) {
  .advantages {
    padding-block: 46px;
  }
}

.advantages__title {
  margin-bottom: 60px;
}

@media (width <= 992px) {
  .advantages__title {
    margin-bottom: 40px;
  }
}

@media (width <= 575px) {
  .advantages__title {
    margin-bottom: 30px;
  }
}

.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;

  padding: 0;
  margin: 0;

  list-style: none;
}

@media (width <= 1199px) {
  .advantages__list {
    -ms-grid-columns: (minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width <= 575px) {
  .advantages__list {
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    gap: 10px;
  }
}

.advantages__item {
  min-width: 0;
}
