.faq {
  /* min-width: 768px max-width: 1980px  */
  padding-block: clamp(60px, 1.374rem + 4.95vw, 120px);

  background-color: var(--color-bg-secondary);
}

@media (width<578px) {
  .faq {
    padding-block: 46px;
  }
}

.faq__title {
  /* min-width: 768px max-width: 1980px  */
  margin-bottom: clamp(30px, 0.687rem + 2.48vw, 60px);
}
@media (width<578px) {
  .faq__title {
    margin-bottom: 38px;
  }
}

.faq__list {
  border-top: 1px solid var(--color-old-price);
}
@media (width<992px) {
  .faq__list {
    margin-bottom: 16px;
  }
}

@media (width<578px) {
  .faq__list {
    margin-bottom: 0;
  }
}

.faq__item {
  border-bottom: 1px solid var(--color-old-price);
}

.faq__question {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* min-width: 768px max-width: 1980px  */
  padding-block: clamp(18px, 0.491rem + 1.32vw, 34px);
  padding-right: 60px;

  /* min-width: 768px max-width: 1980px  */
  font-size: clamp(16px, 0.842rem + 0.33vw, 20px);
  font-weight: 400;
  line-height: 150%;

  list-style: none;
  cursor: pointer;

  -webkit-transition: color var(--transition-time);

  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .faq__question:hover {
    color: var(--accent-color);
  }
}

@media (width <= 768px) {
  .faq__question {
    min-height: 64px;
    padding-right: 50px;
  }
}
@media (width <= 576px) {
  .faq__question {
    padding-block: 16px;
    padding-right: 40px;

    font-size: 13px;
    font-weight: 300;
  }
}

.faq__question::-webkit-details-marker {
  display: none;
}

.faq__question::before,
.faq__question::after {
  position: absolute;
  top: 50%;
  right: 6px;

  width: 36px;
  height: 2px;

  background-color: currentColor;

  content: "";

  -webkit-transition:
    background-color var(--transition-time),
    -webkit-transform var(--transition-time);

  transition:
    background-color var(--transition-time),
    -webkit-transform var(--transition-time);

  transition:
    background-color var(--transition-time),
    transform var(--transition-time);

  transition:
    background-color var(--transition-time),
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
}

@media (width<992px) {
  .faq__question::before,
  .faq__question::after {
    width: 30px;
  }
}

@media (width<578px) {
  .faq__question::before,
  .faq__question::after {
    width: 25px;
    height: 1px;
  }
}

.faq__question::before {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.faq__question::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.faq__item[open] .faq__question {
  padding-bottom: 0;

  color: var(--accent-color);
}

.faq__item[open] .faq__question::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.faq__item[open] .faq__question::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.faq__answer {
  max-width: 920px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.faq__text {
  margin: 0;

  font-weight: 300;
  line-height: 150%;

  /* min-width: 390px max-width: 1980px  */
  font-size: clamp(10px, 0.502rem + 0.5vw, 18px);
}

.faq__answer {
  padding-right: 50px;

  /* min-width: 390px max-width: 1980px  */
  padding-block: clamp(20px, 0.79rem + 1.89vw, 50px);
}

@media (width <= 576px) {
  .faq__answer {
    padding-right: 20px;
  }
}
