.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;

  border: 0;
}

.special-offers {
  padding-block: 150px;

  background-color: var(--color-bg-secondary);
}

@media (width <= 1200px) {
  .special-offers {
    padding-block: 60px 70px;
  }
}

@media (width <= 575px) {
  .special-offers {
    padding-block: 46px 30px;
  }
}

.special-offers__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 0 auto;
  grid-template-columns: minmax(0, 1fr) auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  gap: 50px 0;

  margin-bottom: 40px;
}

@media (width <= 1200px) {
  .special-offers__header {
    gap: 20px;
    margin-bottom: 30px;
  }
}

@media (width <= 576px) {
  .special-offers__header {
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    gap: 17px;
    margin-bottom: 40px;
  }
}

.special-offers__title {
  grid-column: 1 / -1;

  margin: 0;
}

.special-offers__count {
  font-weight: inherit;
  color: var(--accent-color);
}

/* СПИСОК ТЕГОВ */
.special-offers__filters {
  grid-column: 1/-1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  width: 100%;
}

@media (width <= 1200px) {
  .special-offers__filters {
    /* align-items: flex-start; */
    gap: 10px;
  }
}

@media (width <= 576px) {
  .special-offers__filters {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    gap: 10px;
  }
}

.special-offers__tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;

  min-width: 0;
  padding: 0;
  margin: 0;

  list-style: none;
}

@media (width <= 1200px) {
  .special-offers__tag-list {
    gap: 10px;
  }
}

@media (width <= 576px) {
  .special-offers__tag-list {
    width: 100%;
  }
}

.special-offers__tag-item {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special-offers__tag-item[hidden] {
  display: none;
}

.special-offers__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-height: 32px;

  padding: 6px 20px 7px;

  /* min-width: 1200px max-width: 1980px  */
  font-size: clamp(12px, 0.173rem + 0.77vw, 18px);
  white-space: nowrap;

  background-color: transparent;
  border: 1px solid #111111;
  border-radius: 31px;
  cursor: pointer;
}

@media (width <= 1200px) {
  .special-offers__tag {
    min-height: 30px;

    font-size: 12px;
  }
}

.special-offers__tag:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.special-offers__show-more-item {
  margin-left: auto;
}

.special-offers__show-more {
  padding-bottom: 4px;

  -webkit-box-flex: 0;

  -ms-flex: 0 0 auto;

  flex: 0 0 auto;

  font-size: clamp(12px, 0.373rem + 0.61vw, 18px);
  font-weight: 400;

  color: var(--accent-color);

  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

@media (width <= 1200px) {
  .special-offers__show-more {
    padding-bottom: 3px;
  }
}

@media (width <= 575px) {
  .special-offers__show-more {
    margin-left: auto;
    padding-bottom: 2px;
  }
}

.special-offers__show-more:focus-visible {
  outline: 2px solid #cf2e91;
  outline-offset: 3px;
}

.special-offers__tag,
.special-offers__show-more {
  -webkit-transition:
    color var(--transition-time),
    border-color var(--transition-time),
    -webkit-transform var(--transition-time);
  transition:
    color var(--transition-time),
    border-color var(--transition-time),
    -webkit-transform var(--transition-time);
  transition:
    color var(--transition-time),
    border-color var(--transition-time),
    transform var(--transition-time);
  transition:
    color var(--transition-time),
    border-color var(--transition-time),
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
}

@media (any-hover: hover) {
  .special-offers__tag:hover,
  .special-offers__show-more:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.special-offers__tag:active,
.special-offers__show-more:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* ВЫПАДАЮЩИЙ СПИСОК */
.special-offers__sorting {
  position: relative;
  grid-column: -2/-1;
  -ms-grid-column-align: end;
  justify-self: end;

  width: 273px;

  margin: 0;
}

@media (width<=1200px) {
  .special-offers__sorting {
    width: 242px;
  }
}

@media (width<=992px) {
  .special-offers__sorting {
    width: 210px;
  }
}

@media (width<=768px) {
  .special-offers__sorting {
    width: 191px;
  }
}

.special-offers__select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 44px;

  padding-inline: 10%;
  color: inherit;

  font-size: 18px;
  font-weight: 400;

  border: 1px solid var(--accent-color);
  border-radius: 3px;
  background-color: #fff;

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
  cursor: pointer;

  transition: transform var(--transition-time) ease;
}

.special-offers__select--active {
  color: var(--accent-color);
}

.custom-select__item {
  display: flex;
  align-items: center;

  padding-left: 10%;

  width: 100%;
  min-height: 44px;

  color: inherit;

  font-size: 18px;
  font-weight: 300;

  background-color: #fff;

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
  cursor: pointer;
}

.custom-select__item:not(:first-child) {
  margin-top: 2px;
}

.custom-select__item[data-selected="true"] {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 44px;

  padding-inline: 10%;
  color: inherit;

  font-size: 18px;
  font-weight: 400;

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
  cursor: pointer;
}

@media (width<=1200px) {
  .special-offers__select,
  .custom-select__item,
  .custom-select__item[data-selected="true"] {
    /* padding: 8px 0 8px 20px; */
    font-size: 16px;
  }
}

@media (width<=992px) {
  .special-offers__select,
  .custom-select__item,
  .custom-select__item[data-selected="true"] {
    /* padding: 7px 0 7px 15px; */
    font-size: 14px;
  }
}

@media (width<=768px) {
  .special-offers__select,
  .custom-select__item,
  .custom-select__item[data-selected="true"] {
    /* padding: 7px 0 7px 15px; */
    font-size: 12px;
  }
}

.special-offers__select:active {
  transform: scale(0.9);
}

.special-offers__select::-ms-expand {
  display: none;
}

.special-offers__select-icon {
  align-self: center;

  fill: currentColor;
  stroke: currentColor;

  pointer-events: none;

  transition: transform var(--transition-time) ease;
}

.special-offers__select--active .special-offers__select-icon {
  transform: rotate(180deg);
}

.special-offers__select:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.custom-select__list {
  position: absolute;
  top: calc(100% + 10px);
  z-index: var(--layer-2);

  width: 100%;

  background-color: var(--color-bg-secondary);

  box-shadow: var(--list-shadow);
}

.special-offers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;

  padding: 0;
  margin: 0;

  list-style: none;
}

@media (width <= 1200px) {
  .special-offers__list {
    gap: 16px;
  }
}

@media (width <= 576px) {
  .special-offers__list {
    -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
}

.special-offers__item {
  min-width: 0;
}

@media (width <= 575px) {
  .special-offers__item:nth-child(n + 5) {
    display: none;
  }
}

/* СЛАЙДЕР */
.special-offers__slider {
  overflow: hidden;
}

.special-offers__slide {
  height: auto;
}

.special-offers__slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  gap: 20px;

  /* min-width: 768px max-width: 1980px  */
  margin-top: clamp(40px, -1.064rem + 7.43vw, 130px);
}

@media (width<992px) {
  .special-offers__slider-controls {
    gap: 10px;
  }
}

@media (width<576px) {
  .special-offers__slider-controls {
    margin-top: 30px;
  }
}

.special-offers__slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-flex: 1;

  -ms-flex: 1 0 auto;

  flex: 0 0 auto;

  /* min-width: 768px max-width: 1980px  */
  width: clamp(36px, 1.141rem + 2.31vw, 64px);
  height: clamp(36px, 1.141rem + 2.31vw, 64px);

  color: var(--color-bg-dark);

  border: 1px solid var(--color-bg-dark);
  border-radius: 3px;
  background-color: transparent;

  cursor: pointer;

  -webkit-transition:
    color var(--transition-time),
    border-color var(--transition-time),
    -webkit-transform var(--transition-time);

  transition:
    color var(--transition-time),
    border-color var(--transition-time),
    -webkit-transform var(--transition-time);

  transition:
    color var(--transition-time),
    border-color var(--transition-time),
    transform var(--transition-time);

  transition:
    color var(--transition-time),
    border-color var(--transition-time),
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
}

@media (any-hover: hover) {
  .special-offers__slider-button:not(:disabled):not(
      .swiper-button-disabled
    ):hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.special-offers__slider-button:not(:disabled):not(
    .swiper-button-disabled
  ):active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.special-offers__slider-button:disabled,
.special-offers__slider-button.swiper-button-disabled {
  color: var(--color-old-price);
  border-color: var(--color-old-price);

  cursor: default;
}

.special-offers__pagination {
  width: auto;

  font-size: 18px;
}
